<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <title>خطوط ويب عربية</title>
    <script src="bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/style.css">
  </head>
  <body>
    <!-- <div id="main" ng-app>
      <nav class="{{active}}" ng-click="$event.preventDefault()">
        <a href="#" class="home" ng-click="active='home'">Home</a>
        <a href="#" class="projects" ng-click="active='projects'">Projects</a>
        <a href="#" class="services" ng-click="active='services'">Services</a>
      </nav>

      <p ng-hide="active">Please click a menu item</p>
      <p ng-show="active">You chose <strong>{{active}}</strong></p>
    </div> -->

    <div class="wrap container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 content">
          <div class="row">
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">خطوط ويب عربية</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">
                  <ul class="nav navbar-nav">
                    <li><a href="#">عن المشروع</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
          </div>

          <div>
            <h1>أهلا بكم!</h1>
            <br>
            <p>إن كنت مطوّراً أو مصمماً لصفحات الويب، فهذا الموقع سيزودك بخطوط عربية لتستخدمها بسهولة ضمن صفحات الويب.</p>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
